<a href="https://colab.research.google.com/github/VIK98110/CodeDemo/blob/main/Data_Wrangling_on_Different_Data_Formats_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## üéâ Woohoo! It's time for another assignment!

Are you ready to put your data wrangling skills to the test for different data formats? üí™üìäüêç

Get ready to dive deep into Python's data wrangling tools and techniques. You'll be a pro at handling messy and different formats of data sets in no time! ü§ìüë®‚Äçüíªüîç

So buckle up and let's get started! Good luck! üçÄüöÄ

#### All the datasets required for this assignment can be found here: https://drive.google.com/drive/folders/1tCiLXoHnQAyq8xmI-Wibn1qC22EFk2-j?usp=sharing

#### You can download the data and start working with the assignment.

## **Activity 1:**

### **Employee Data on a CSV File:**

A company has a CSV file containing data on their employees, including their names, ages, and genders. The company is interested in analyzing this data to gain insights into the demographics of their workforce.

How can they use data wrangling techniques in Python to answer some key questions about their employee demographics?

![employee.png]()

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Write your code here
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Python Datasets/employee.csv")
df

   id    name   age   gender department   salary
0    1    john    20    male         hr   500000
1    2    jane    23  female  marketing   600000
2    3    joey    23    male         it   300000
3    4   sarah    25  female         hr   450000
4    5    rose    28    male         hr   700000
5    6    bing    29    male    finance   800000
6    7    rach    41  female         it   600000
7    8  monica    23  female  marketing  7000000
8    9  pheebe    35  female         it  4000000

In [ ]:
df.head()

   id   name   age   gender department  salary
0    1   john    20    male         hr  500000
1    2   jane    23  female  marketing  600000
2    3   joey    23    male         it  300000
3    4  sarah    25  female         hr  450000
4    5   rose    28    male         hr  700000

In [ ]:
df.columns

Index(['id ', 'name ', 'age ', 'gender', 'department', 'salary'], dtype='object')

In [ ]:
# Use the describe() function to get some basic statistics on the age distribution of employees
print(df['age '].describe())

count     9.000000
mean     27.444444
std       6.747427
min      20.000000
25%      23.000000
50%      25.000000
75%      29.000000
max      41.000000
Name: age , dtype: float64

In [ ]:
filtered_df = df[(df['age '] >= 25) & (df['age '] <= 40)]
filtered_df

   id    name   age   gender department   salary
3    4   sarah    25  female         hr   450000
4    5    rose    28    male         hr   700000
5    6    bing    29    male    finance   800000
8    9  pheebe    35  female         it  4000000

In [ ]:
sorted_df = df.sort_values(by=['age '], ascending=False)
sorted_df

   id    name   age   gender department   salary
6    7    rach    41  female         it   600000
8    9  pheebe    35  female         it  4000000
5    6    bing    29    male    finance   800000
4    5    rose    28    male         hr   700000
3    4   sarah    25  female         hr   450000
1    2    jane    23  female  marketing   600000
2    3    joey    23    male         it   300000
7    8  monica    23  female  marketing  7000000
0    1    john    20    male         hr   500000

üëâ **Instructions:**

1. Load the employee data into a pandas DataFrame object using the read_csv() function. The CSV file should be located in the current working directory or you should provide the full path to the file: df = pd.read_csv('employee_data.csv')
2. Use the describe() function to get some basic statistics on the age distribution of employees: print(df['age'].describe())
3. Filter the data to only include employees between the ages of 25 and 40 using boolean indexing: filtered_df = df[(df['age'] >= 25) & (df['age'] <= 40)]
4. Print the filtered DataFrame to see the results: print(filtered_df)
5. Sort the data by age in descending order using the sort_values() function: sorted_df = df.sort_values(by=['age'], ascending=False)
6. Print the sorted DataFrame to see the results: print(sorted_df)
7. Save the modified DataFrame to a new CSV file using the to_csv() function.

## **Activity 2:**

### **Employee Data on a JSON File:**

A company has a JSON file containing data on their customers, including their names, ages, genders, and locations. The company is interested in analyzing this data to gain insights into the demographics of their customer base.

How can they use data wrangling techniques in Python to answer some key questions about their customer demographics?

Some potential follow-up questions could be:

1. What is the age distribution of our customer base?
2. How does the gender ratio of our customer base vary by location?
3. Which location has the highest proportion of customers aged 18-30?
4. Which location has the highest proportion of female customers?
5. How does the average age of our customers vary by location?

**Note**: The dataset to be used here is named as "customer_data.json" and not "employee.json".

![json-file.png]()

In [ ]:
import json

In [ ]:
# Write your code here
# Open the JSON file for reading
with open('/content/drive/MyDrive/Colab Notebooks/Python Datasets/employee.json') as f:
  # Load the JSON data from the file
  data = json.load(f)

print(data)

[{'id ': 1, 'name ': 'john', 'age ': 20, 'gender': 'male', 'department': 'hr', 'salary': 500000}, {'id ': 2, 'name ': 'jane', 'age ': 23, 'gender': 'female', 'department': 'marketing', 'salary': 600000}, {'id ': 3, 'name ': 'joey', 'age ': 23, 'gender': 'male', 'department': 'it', 'salary': 300000}, {'id ': 4, 'name ': 'sarah', 'age ': 25, 'gender': 'female', 'department': 'hr', 'salary': 450000}, {'id ': 5, 'name ': 'rose', 'age ': 28, 'gender': 'male', 'department': 'hr', 'salary': 700000}, {'id ': 6, 'name ': 'bing', 'age ': 29, 'gender': 'male', 'department': 'finance', 'salary': 800000}, {'id ': 7, 'name ': 'rach', 'age ': 41, 'gender': 'female', 'department': 'it', 'salary': 600000}, {'id ': 8, 'name ': 'monica', 'age ': 23, 'gender': 'female', 'department': 'marketing', 'salary': 7000000}, {'id ': 9, 'name ': 'pheebe', 'age ': 35, 'gender': 'female', 'department': 'it', 'salary': 4000000}]

In [ ]:
data[0]

{'id ': 1,
 'name ': 'john',
 'age ': 20,
 'gender': 'male',
 'department': 'hr',
 'salary': 500000}

In [ ]:
# Converting data into dataframe
df = pd.DataFrame(data)
df

   id    name   age   gender department   salary
0    1    john    20    male         hr   500000
1    2    jane    23  female  marketing   600000
2    3    joey    23    male         it   300000
3    4   sarah    25  female         hr   450000
4    5    rose    28    male         hr   700000
5    6    bing    29    male    finance   800000
6    7    rach    41  female         it   600000
7    8  monica    23  female  marketing  7000000
8    9  pheebe    35  female         it  4000000

## **Activity 3:**

### **Sales Data on XML File:**

A company has an XML file containing data on their sales, including the date, the product name, the sales amount, and the customer name. The company is interested in analyzing this data to gain insights into their sales patterns.

How can they use data wrangling techniques in Python to answer some key questions about their sales data?

Here are some example questions that the company may want to answer:

1. What is the total sales amount for each product?
2. Which product has the highest sales amount?
3. What is the average sales amount per day?
4. Which customer has the highest total sales amount?
5. What is the sales amount trend over time?

![xml-file.png]()

In [ ]:
import xml.etree.ElementTree as ET

In [ ]:
# Write your code here
tree = ET.parse('/content/drive/MyDrive/Colab Notebooks/Python Datasets/sales_data.xml')
root = tree.getroot()
print(root.tag)

sales

In [ ]:
total_sales = 0

for sale in root.findall('.//sale'):
    value_element = sale.find('value')
    if value_element is not None:
        sale_value = float(value_element.text)
        total_sales += sale_value

print(sales)

None